{:db/ident :planet/uuid
 :db/doc "Id of a planet."
 :db/valueType :db.type/uuid
 :db/index true
 :db/cardinality :db.cardinality/one
 :db/unique :db.unique/identity}
 
{:db/ident :planet/name
 :db/doc "Name of a planet."
 :db/valueType :db.type/string
 :db/index true
 :db/cardinality :db.cardinality/one}

{:db/ident :planet/climate
 :db/doc "The climate of the planet."
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/many}

{:db/ident :planet/terrain
 :db/doc "The terrain of a planet."
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/many}

{:db/ident :planet/apparitions
 :db/doc "Movies this planet has appearead in."
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/many}
